<div class="row">
  <div class="col-lg-4 col-xl-3 col-xxl-2">
    <app-sitebar-wrapper></app-sitebar-wrapper>       
  </div>
<div class="col-lg-8 col-xl-9 col-xxl-10">
<div class="content-wrappe">
    <div class="row">
      <div class="card">
          <div class="card-header">
            <div class="row">
                <div class="col-12">
                    <h1>Cyber Assessment</h1>
                </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row">  
                <div class="col-3">
                  <a [routerLink]="['/survey','0','10']"><div class="card">
                      <img src="assets/generaldescription.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                          <h2>General Description</h2>
                      </div>
                    </div></a>
              </div>                                    
            <div class="col-3">
              <a [routerLink]="['/survey','0','30']"><div class="card">
                  <img src="assets/physicalaccess.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                      <h2>Physical Access</h2>
                  </div>
                </div></a>
          </div>
          <div class="col-3">
            <a [routerLink]="['/survey','0','90']"><div class="card">
                <img src="assets/internetaccess.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h2>Internet Access</h2>
                </div>
              </div></a>
        </div>    
        <div class="col-3">
          <a [routerLink]="['/survey','0','40']"><div class="card">
              <img src="assets/networklayout.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                  <h2>Network Access / Layout</h2>
              </div>
            </div></a>
      </div>       
    <div class="col-3">
      <a [routerLink]="['/survey','0','60']"><div class="card">
          <img src="assets/datastorage.jpg" class="card-img-top" alt="...">
          <div class="card-body">
              <h2>Data Storage and Retention</h2>
          </div>
        </div></a>
  </div>    
  <div class="col-3">
    <a [routerLink]="['/survey','0','70']"><div class="card">
        <img src="assets/computerhardware.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h2>Hardware and Devices</h2>
        </div>
      </div></a>
</div>    
<div class="col-3">
  <a [routerLink]="['/survey','0','80']"><div class="card">
      <img src="assets/software.jpg" class="card-img-top" alt="...">
      <div class="card-body">
          <h2>Software Technologies</h2>
      </div>
    </div></a>
</div>    
<div class="col-3">
  <a [routerLink]="['/survey','0','100']"><div class="card">
      <img src="assets/filesharing.jpg" class="card-img-top" alt="...">
      <div class="card-body">
          <h2>File / Document Sharing</h2>
      </div>
    </div></a>
</div>    
<div class="col-3">
  <a [routerLink]="['/survey','0','110']"><div class="card">
      <img src="assets/emailbackup.jpg" class="card-img-top" alt="...">
      <div class="card-body">
          <h2>Email Access</h2>
      </div>
    </div></a>
</div>    
<div class="col-3">
  <a [routerLink]="['/survey','0','120']"><div class="card">
      <img src="assets/databackup.jpg" class="card-img-top" alt="...">
      <div class="card-body">
          <h2>Backup & Recovery</h2>
      </div>
    </div></a>
</div>    
<div class="col-3">
  <a [routerLink]="['/survey','0','130']"><div class="card">
      <img src="assets/cybersecuritymanagement.jpg" class="card-img-top" alt="...">
      <div class="card-body">
          <h2>Security Management</h2>
      </div>
    </div></a>
</div>          
<div class="col-3">
  <a [routerLink]="['/reports']"><div class="card">
      <img src="assets/reports.jpg" class="card-img-top" alt="...">
      <div class="card-body">
          <h2>Results</h2>
      </div>
    </div></a>
</div>  
            </div>
          </div>  
        </div>
    </div>
</div>
</div>
</div>